{% extends 'website/index.html' %}



{% block body %}

<style>
        .case {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #000;
            font-size: 2rem;
            height: 100px;
            width: 100px;
            cursor: pointer;
        }
</style>

<div class="container">
    <h1 class="text-center my-4">Jeu de Morpion</h1>
    {% if winner %}
    <div class="d-flex justify-content-center">
        <div class="alert alert-success text-center col-4">
            Le joueur {{ winner }} a gagné !
        </div>
    </div>
    {% endif %}
    {% for row in board_rows %}
        <div class="row justify-content-center">
            {% for case in row %}
                <div class="col-4 case">
                    {% if case.value == '' %}
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" name="case_index" value="{{ case.index }}">
                                {{ case.value }}
                            </button>
                        </form>
                    {% else %}
                        {{ case.value }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}



    <div class="d-flex justify-content-center mt-5">
         <a href="{% url 'reset_morpion' %}" class="btn btn-warning">Réinitialiser la partie</a>
    </div>

</div>









{% endblock %}